<section class="main-container col2-left-layout bounceInUp animated">
    <div class="main container">
        <div class="row">

            <div id="content" class="col-sm-9 col-sm-push-3 ">
                <div class="col-xs-12">
                    <ul class="brdroom">
                        <li> <a routerLink="/Shazlunj">شازلوج</a></li>
                        <li> <a routerLink="/Karasi">كراسي</a>
                        </li>
                        <li> <a routerLink="/Kanab">  كنب</a>
                        </li>
                        <li> <a routerLink="/Corner"> ركن</a>
                        </li>
                    </ul>
                </div>

                <article class="col-main pro-grid">
                    <div class="catalog-product-info">
                        <h2 class="page-heading"> <span class="page-heading-title">  كنب </span> </h2>
                        <div class="display-product-option">
                            <div class="toolbar">
                                <div class="sorter">
                                    <div class="view-mode">
                                        <button type="button" id="grid-view" class="btn btn-default active"
                                            data-toggle="tooltip" title="" data-original-title="Grid"><i
                                                class="fa fa-th"></i></button>
                                        <button type="button" id="list-view" class="btn btn-default"
                                            data-toggle="tooltip" title="" data-original-title="List"><i
                                                class="fa fa-th-list"></i></button>

                                        <a href="index6431.html?route=product/compare" id="compare-total">Product
                                            Compare (0)</a>

                                    </div>
                                </div>

                                <div id="sort-by">
                                    <label class="left"> : حسب الصنف</label>
                                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                                        <option
                                            value="indexd8ae.html?route=product/category&amp;path=2004_2025&amp;sort=p.sort_order&amp;order=ASC">
                                            Default</option>
                                        <option
                                            value="http://veritodemo4.magikthemes.com/index.php?route=product/category&amp;path=2004_2025&amp;sort=pd.name&amp;order=ASC"
                                            selected="selected">Name (A - Z)</option>
                                        <option
                                            value="indexe04c.html?route=product/category&amp;path=2004_2025&amp;sort=pd.name&amp;order=DESC">
                                            Name (Z - A)</option>
                                        <option
                                            value="index1a99.html?route=product/category&amp;path=2004_2025&amp;sort=p.price&amp;order=ASC">
                                            Price (Low &gt; High)</option>
                                        <option
                                            value="index1095.html?route=product/category&amp;path=2004_2025&amp;sort=p.price&amp;order=DESC">
                                            Price (High &gt; Low)</option>
                                        <option
                                            value="indexe4aa.html?route=product/category&amp;path=2004_2025&amp;sort=rating&amp;order=DESC">
                                            Rating (Highest)</option>
                                        <option
                                            value="index7921.html?route=product/category&amp;path=2004_2025&amp;sort=rating&amp;order=ASC">
                                            Rating (Lowest)</option>
                                        <option
                                            value="index009a.html?route=product/category&amp;path=2004_2025&amp;sort=p.model&amp;order=ASC">
                                            Model (A - Z)</option>
                                        <option
                                            value="indexae03.html?route=product/category&amp;path=2004_2025&amp;sort=p.model&amp;order=DESC">
                                            Model (Z - A)</option>
                                    </select>
                                </div>
                            </div><!-- toolbar -->
                        </div>
                    </div>
                    <div class="category-products">
                        <div class="pro_row products-grid">
                            <div class="product-layout product-grid item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="product-thumb col-item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image"
                                                    href="/Singlesofa"
                                                    title="Nitraa Eco 3 Door Wardrobe">
                                                    <img src="../../../assets/image/cache/catalog/productimage/product15-700x850.jpg"
                                                        alt="Nitraa Eco 3 Door Wardrobe"
                                                        title="Nitraa Eco 3 Door Wardrobe">
                                                </a>
                                                <div class="sale-label sale-top-right">Sale</div>
                                                <div class="box-hover">
                                                    <ul class="add-to-links">
                                                        <li>
                                                            <a href="index0cd1.html?route=product/quickview&amp;product_id=2024;"
                                                                class="link-quickview"
                                                                data-name="Nitraa Eco 3 Door Wardrobe"></a>
                                                        </li>

                                                        <li>
                                                            <a onclick="wishlist.add('2024');"
                                                                class="link-wishlist"></a>
                                                        </li>
                                                        <li>
                                                            <a class="link-compare" onclick="compare.add('2024');"></a>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a title="Nitraa Eco 3 Door Wardrobe"
                                                        href="index29cd.html?route=product/product&amp;path=2004_2025&amp;product_id=2024&amp;sort=pd.name&amp;order=ASC">
                                                        Nitraa Eco 3 Door Wardrob... </a>
                                                </div>

                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div><!-- rating -->
                                                    <div class="desc std">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the ..</p>
                                                    </div>

                                                    <div class="item-price">
                                                        <div class="price-box">

                                                            <p class="old-price"><span class="price">$100.00</span></p>
                                                            <p class="special-price"><span class="price">$90.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <button type="button" title="" data-original-title="Add to Cart"
                                                            class="button btn-cart link-cart"
                                                            onclick="cart.add('2024');"><span>اضف الي السله
                                                            </span></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> <!-- End Item info -->
                                    </div> <!-- End  Item inner-->
                                </div>
                            </div><!-- item product-layout product-list col-xs-12 -->
                            <div class="product-layout product-grid item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="product-thumb col-item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image"
                                                    href="/Singlesofa"
                                                    title="Nitraa Eco 3 Door Wardrobe">
                                                    <img src="../../../assets/image/cache/catalog/productimage/product15-700x850.jpg"
                                                        alt="Nitraa Eco 3 Door Wardrobe"
                                                        title="Nitraa Eco 3 Door Wardrobe">
                                                </a>
                                                <div class="sale-label sale-top-right">Sale</div>
                                                <div class="box-hover">
                                                    <ul class="add-to-links">
                                                        <li>
                                                            <a href="index0cd1.html?route=product/quickview&amp;product_id=2024;"
                                                                class="link-quickview"
                                                                data-name="Nitraa Eco 3 Door Wardrobe"></a>
                                                        </li>

                                                        <li>
                                                            <a onclick="wishlist.add('2024');"
                                                                class="link-wishlist"></a>
                                                        </li>
                                                        <li>
                                                            <a class="link-compare" onclick="compare.add('2024');"></a>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a title="Nitraa Eco 3 Door Wardrobe"
                                                        href="index29cd.html?route=product/product&amp;path=2004_2025&amp;product_id=2024&amp;sort=pd.name&amp;order=ASC">
                                                        Nitraa Eco 3 Door Wardrob... </a>
                                                </div>

                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div><!-- rating -->
                                                    <div class="desc std">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the ..</p>
                                                    </div>

                                                    <div class="item-price">
                                                        <div class="price-box">

                                                            <p class="old-price"><span class="price">$100.00</span></p>
                                                            <p class="special-price"><span class="price">$90.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <button type="button" title="" data-original-title="Add to Cart"
                                                            class="button btn-cart link-cart"
                                                            onclick="cart.add('2024');"><span>اضف الي السله
                                                            </span></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> <!-- End Item info -->
                                    </div> <!-- End  Item inner-->
                                </div>
                            </div><!-- item product-layout product-list col-xs-12 -->
                            <div class="product-layout product-grid item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="product-thumb col-item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image"
                                                    href="/Singlesofa"
                                                    title="Nitraa Eco 3 Door Wardrobe">
                                                    <img src="../../../assets/image/cache/catalog/productimage/product15-700x850.jpg"
                                                        alt="Nitraa Eco 3 Door Wardrobe"
                                                        title="Nitraa Eco 3 Door Wardrobe">
                                                </a>
                                                <div class="sale-label sale-top-right">Sale</div>
                                                <div class="box-hover">
                                                    <ul class="add-to-links">
                                                        <li>
                                                            <a href="index0cd1.html?route=product/quickview&amp;product_id=2024;"
                                                                class="link-quickview"
                                                                data-name="Nitraa Eco 3 Door Wardrobe"></a>
                                                        </li>

                                                        <li>
                                                            <a onclick="wishlist.add('2024');"
                                                                class="link-wishlist"></a>
                                                        </li>
                                                        <li>
                                                            <a class="link-compare" onclick="compare.add('2024');"></a>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a title="Nitraa Eco 3 Door Wardrobe"
                                                        href="index29cd.html?route=product/product&amp;path=2004_2025&amp;product_id=2024&amp;sort=pd.name&amp;order=ASC">
                                                        Nitraa Eco 3 Door Wardrob... </a>
                                                </div>

                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div><!-- rating -->
                                                    <div class="desc std">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the ..</p>
                                                    </div>

                                                    <div class="item-price">
                                                        <div class="price-box">

                                                            <p class="old-price"><span class="price">$100.00</span></p>
                                                            <p class="special-price"><span class="price">$90.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <button type="button" title="" data-original-title="Add to Cart"
                                                            class="button btn-cart link-cart"
                                                            onclick="cart.add('2024');"><span>اضف الي السله
                                                            </span></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> <!-- End Item info -->
                                    </div> <!-- End  Item inner-->
                                </div>
                            </div><!-- item product-layout product-list col-xs-12 -->
                            <div class="product-layout product-grid item col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="product-thumb col-item">
                                    <div class="item-inner">
                                        <div class="item-img">
                                            <div class="item-img-info">
                                                <a class="product-image"
                                                    href="/Singlesofa"
                                                    title="Nitraa Eco 3 Door Wardrobe">
                                                    <img src="../../../assets/image/cache/catalog/productimage/product15-700x850.jpg"
                                                        alt="Nitraa Eco 3 Door Wardrobe"
                                                        title="Nitraa Eco 3 Door Wardrobe">
                                                </a>
                                                <div class="sale-label sale-top-right">Sale</div>
                                                <div class="box-hover">
                                                    <ul class="add-to-links">
                                                        <li>
                                                            <a href="index0cd1.html?route=product/quickview&amp;product_id=2024;"
                                                                class="link-quickview"
                                                                data-name="Nitraa Eco 3 Door Wardrobe"></a>
                                                        </li>

                                                        <li>
                                                            <a onclick="wishlist.add('2024');"
                                                                class="link-wishlist"></a>
                                                        </li>
                                                        <li>
                                                            <a class="link-compare" onclick="compare.add('2024');"></a>
                                                        </li>

                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="item-info">
                                            <div class="info-inner">
                                                <div class="item-title">
                                                    <a title="Nitraa Eco 3 Door Wardrobe"
                                                        href="index29cd.html?route=product/product&amp;path=2004_2025&amp;product_id=2024&amp;sort=pd.name&amp;order=ASC">
                                                        Nitraa Eco 3 Door Wardrob... </a>
                                                </div>

                                                <div class="item-content">
                                                    <div class="rating">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                                <span class="fa fa-stack"><i
                                                                        class="fa fa-star-o fa-stack-2x"></i></span>
                                                            </div>
                                                        </div>
                                                    </div><!-- rating -->
                                                    <div class="desc std">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the ..</p>
                                                    </div>

                                                    <div class="item-price">
                                                        <div class="price-box">

                                                            <p class="old-price"><span class="price">$100.00</span></p>
                                                            <p class="special-price"><span class="price">$90.00</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="action">
                                                        <button type="button" title="" data-original-title="Add to Cart"
                                                            class="button btn-cart link-cart"
                                                            onclick="cart.add('2024');"><span>اضف الي السله
                                                            </span></button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div> <!-- End Item info -->
                                    </div> <!-- End  Item inner-->
                                </div>
                            </div><!-- item product-layout product-list col-xs-12 -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="bottom_pagination">
                            <div class="col-sm-6 text-left">
                                <ul class="pagination">
                                    <li class="active"><span>1</span></li>
                                    <li><a href="index5e76.html?route=product/category&amp;path=2001&amp;filter=&amp;page=2">2</a></li>
                                    <li><a href="index5e76.html?route=product/category&amp;path=2001&amp;filter=&amp;page=2">&gt;</a></li>
                                    <li><a href="index5e76.html?route=product/category&amp;path=2001&amp;filter=&amp;page=2">&gt;|</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 text-right">Showing 1 to 6 of 6 (1 Pages)</div>
                        </div>
                    </div>
                </article>

            </div>
            <aside id="column-left" class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9">

                <div class="hot-banner"><img alt="banner"
                        src="../../../assets/catalog/view/theme/verito/image/hot-trends-banner.jpg"></div>
                <div class="panel panel-default special-products">
                    <div class="panel-heading">Latest Products</div>
                    <div class="product-layout">
                        <div class="product-thumb transition">
                            <div class="image"><a href="indexbc72.html?route=product/product&amp;product_id=2021"><img
                                        src="../../../assets/image/cache/catalog/productimage/product25-700x850.jpg"
                                        alt="Vashishta Book Shelf" title="Vashishta Book Shelf"
                                        class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="indexbc72.html?route=product/product&amp;product_id=2021">Vashishta Book
                                        Shelf</a></h4>


                                <p class="price">
                                    $100.00 </p>
                            </div>

                        </div>
                    </div>
                    <div class="product-layout">
                        <div class="product-thumb transition">
                            <div class="image"><a href="indexe693.html?route=product/product&amp;product_id=2019"><img
                                        src="../../../assets/image/cache/catalog/productimage/product22-700x850.jpg"
                                        alt="Sublime Exports Office Chair" title="Sublime Exports Office Chair"
                                        class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="indexe693.html?route=product/product&amp;product_id=2019">Sublime Exports
                                        Office Chair</a></h4>


                                <p class="price">
                                    $199.99 </p>
                            </div>

                        </div>
                    </div>
                    <div class="product-layout">
                        <div class="product-thumb transition">
                            <div class="image"><a href="index437e.html?route=product/product&amp;product_id=2023"><img
                                        src="../../../assets/image/cache/catalog/productimage/product20-700x850.jpg"
                                        alt="Sheesham sofa set" title="Sheesham sofa set" class="img-responsive"></a>
                            </div>
                            <div class="caption">
                                <h4><a href="index437e.html?route=product/product&amp;product_id=2023">Sheesham sofa
                                        set</a></h4>


                                <p class="price">
                                    $100.00 </p>
                            </div>

                        </div>
                    </div>
                    <div class="product-layout">
                        <div class="product-thumb transition">
                            <div class="image"><a href="indexfd0e.html?route=product/product&amp;product_id=2017"><img
                                        src="../../../assets/image/cache/catalog/productimage/product19-700x850.jpg"
                                        alt="Reclining Chair by Premsons" title="Reclining Chair by Premsons"
                                        class="img-responsive"></a></div>
                            <div class="caption">
                                <h4><a href="indexfd0e.html?route=product/product&amp;product_id=2017">Reclining Chair
                                        by Premsons</a></h4>


                                <p class="price">
                                    $100.00 </p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="custom-slider">
                    <div>
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->

                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">


                                <div class="item">
                                    <a href="#" target="_blank" title="50% off">
                                        <img src="../../../assets/image/cache/catalog/slide3-demo3-360x488.jpg"
                                            data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat"
                                            title="50% off" alt="50% off">
                                    </a>
                                    <div class="carousel-caption">
                                        <h3>
                                            <a href="#" target="_blank" title="50% off">
                                                50% off </a>
                                        </h3>
                                        <p></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <a class="link" href="#">Buy Now</a>
                                        <p></p>
                                    </div>
                                </div>



                                <div class="item active">
                                    <a href="#" target="_blank" title="Hot Collection">
                                        <img src="../../../assets/image/cache/catalog/slide1-demo3-360x488.jpg"
                                            data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat"
                                            title="Hot Collection" alt="Hot Collection">
                                    </a>
                                    <div class="carousel-caption">
                                        <h3>
                                            <a href="#" target="_blank" title="Hot Collection">
                                                Hot Collection </a>
                                        </h3>
                                        <p></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p></p>
                                    </div>
                                </div>



                                <div class="item">
                                    <a href="#" target="_blank" title="Summer Collection">
                                        <img src="../../../assets/image/cache/catalog/slide2-demo3-360x488.jpg"
                                            data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat"
                                            title="Summer Collection" alt="Summer Collection">
                                    </a>
                                    <div class="carousel-caption">
                                        <h3>
                                            <a href="#" target="_blank" title="Summer Collection">
                                                Summer Collection </a>
                                        </h3>
                                        <p></p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <p></p>
                                    </div>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button"
                                data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"
                                    aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>

                            <a class="right carousel-control" href="#carousel-example-generic" role="button"
                                data-slide="next"> <span class="glyphicon glyphicon-chevron-right"
                                    aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<div class="our-features-box">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box first"> <span class="fa fa-truck"></span>
            <div class="content">
              <h3>شحن لجميع للمحفاظات</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box"> <span class="fa fa-headphones"></span>
            <div class="content">
              <h3> دعم العملاء مدار 24 ساعه</h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box"> <span class="fa fa-share"></span>
            <div class="content">
              <h3> سياسة الأستراجاع و الأستبدال </h3>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature-box last"> <span class="fa fa-phone"></span>
            <div class="content">
              <h3>+201006607017  الخط الساخن</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
