<body class="common-home ">
    <div id="page">
      <header>
        <div class="header-container">
            <div class="header-top">
                <div class="container">
                  <div class="row">
      
                    <div class="col-xs-6 hidden-xs pull-right">
                      <div class="toplinks">
                        <div class="links">
                          <div class="myaccount"><a href="/Accoun" title="My Account"> <img
                                src="../../../assets/catalog/view/theme/verito2/image/my-account.png" alt="my account icon"><span
                                class="hidden-xs">تسجيل الدخول</span></a></div>
                                <div class="login"> <a href="/Accoun"><img
                                    src="../../../assets/catalog/view/theme/verito2/image/log-in.png" alt="login"><span
                                    class="hidden-xs">حسابي</span></a></div>
                          <div class="check"><a href="index630e.html?route=checkout/checkout" title="Checkout"><img
                                src="../../../assets/catalog/view/theme/verito2/image/checkout.png" alt="checkout"><span
                                class="hidden-xs">توصل معنا</span></a></div>
                          <div class="demo"> <a title="Blog" href="indexe637.html?route=magikblog/article"><img
                                src="../../../assets/catalog/view/theme/verito2/image/blog.png" alt="blog"><span
                                class="hidden-xs">المدونه</span></a></div>
                        </div>
                      </div>
                      <!-- End Header Top Links -->
                    </div>
                  </div>
      
                </div>
              </div><!-- end header top -->
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 logo-block">
                <!-- Header Logo -->
                <div class="logo"> <a href="index9328.html?route=common/home" title="Veritodemo4">
                    <img src="../../../assets/image/catalog/logo1.jpg" title="بيت الناصر" alt="Veritodemo4" />
                  </a></div>
              </div>
              <div class="col-lg- col-md-6 col-sm-6 col-xs-12 hidden-xs search-wrapper">
                <!-- search col -->
                <div class="search-box">
                  <div id="search_mini_form">
                    <input type="text" name="search" value="" placeholder="Search" class="searchbox" id="search"
                      autocomplete="off" />
                    <button id="submit-button-search-header" type="button" class="btn btn-default search-btn-bg"><span
                        class="glyphicon glyphicon-search"></span></button>
                  </div>
                </div>
                <!-- search col -->
  
                <!-- Header Company -->
                <!-- End Header Company -->
              </div>
  
  
  
  
              <div class="col-lg-2 col-md-3 col-sm-2 col-xs-12 top-cart-wrapper">
                <div class="top-cart-contain ">
                  <!-- Top Cart -->
                  <div class="mini-cart">
                    <div id="cart">
                      <div data-hover="dropdown" class="basket dropdown-toggle"> <a
                          href="index630e.html?route=checkout/cart"><img class="cart-icon" alt=""
                            src="../../../assets/catalog/view/theme/verito2/image/btn-cart.png"> <span class="cart_count">0</span> <span
                            class="price hidden-xs">Cart / $0.00</span> </a> </div>
                      <input id="cart-txt-heading" type="hidden" name="cart-txt-heading" value="Cart ">
                      <ul class="dropdown-menu pull-left top-cart-content arrow_box">
                        <li>
                          <p class="text-center noitem">Your shopping cart is empty!</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- Top Cart -->
                  <div id="ajaxconfig_info" style="display:none"><a href="#/"></a>
                    <input value="" type="hidden">
                    <input id="enable_module" value="1" type="hidden">
                    <input class="effect_to_cart" value="1" type="hidden">
                    <input class="title_shopping_cart" value="Go to shopping cart" type="hidden">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- end header cointainer -->
      </header>
  
      <nav>
        <div class="container">
          <div class="mm-toggle-wrap">
            <div class="mm-toggle"><i class="fa fa-bars"></i><span class="mm-label">Menu</span> </div>
          </div>
        </div>
        <div class="nav-inner">
          <div class="container">
            <!-- BEGIN NAV -->
            <ul class="hidden-xs" id="nav">
              <li id="nav-home" class="level0 parent drop-menu"> <a class="level-top"
                routerLink="/Center"> <span>الرئيسيه</span> </a>
              </li>
              <li class="mega-menu" >
                <a href="#" class="level-top ">
                  <span>غرفة المعيشه</span>
                </a>
                <div class="level0-wrapper dropdown-6col" >
                  <div class="container">
                    <div class="level0-wrapper2" >
                      <div class="nav-block nav-block-center">
                        <div class="col-1 pull-right">

                          <ul class="level0">
                            
                    
                              <ul class="level1" >
                                <li class="col-lg-3 evel2 nav-6-1-1"><a
                                  
                                  href="/Shazlunj">
                                  <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                  <span> شازلونج</span>

                                  </a></li>
  
                                <li class="col-lg-3 level2 nav-6-1-1"><a
                                  
                                    href="/Karasi">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>كراسي  </span>

                                    </a></li>
                                <li class=" col-lg-3 level2 nav-6-1-1"><a
                                    href="/Kanab">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>كنب
                                      </span></a></li>
                                <li class="col-lg-3 level2 nav-6-1-1"><a
                                    href="/Corner">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>ركن
                                      </span></a></li>

                              </ul>



                            </ul>
                          <!-- level 0 -->
  
  
                        </div><!-- level -->
  
                        <!-- Right Menu images -->
  
                      </div>
                      <!--nav-block nav-block-center-->
  
                      <div class="col-2">
                        <div class="menu_image1">
                          <a title="" href="#"><img alt="menu_image"
                              src="../../assets/catalog/view/theme/veritodemo1/image/menu-shoes.png"> </a>
                        </div>
                      </div>
  
  
                    </div> <!-- level0-wrapper2 -->
                  </div><!-- container -->
  
  
                </div>
              </li>
              <!--mega menu-->
              <li class="mega-menu" >
                <a href="#" class="level-top ">
                  <span> غرفة النوم</span>
                </a>
                <div class="level0-wrapper dropdown-6col" >
                  <div class="container">
                    <div class="level0-wrapper2" >
                      <div class="nav-block nav-block-center">
                        <div class="col-1 pull-right">

                          <ul class="level0">
                            
                    
                              <ul class="level1" >
                                <li class="col-lg-3 evel2 nav-6-1-1"><a
                                  
                                  href="/Beds">
                                  <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                  <span>سرير  </span>

                                  </a></li>
  
                                <li class="col-lg-3 level2 nav-6-1-1"><a
                                  
                                    href="/Cupboard">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>دولاب </span>

                                    </a></li>
                                <li class=" col-lg-3 level2 nav-6-1-1"><a
                                    href="/Childrens">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>اطفال
                                      </span></a></li>
                                <li class="col-lg-3 level2 nav-6-1-1"><a
                                    href="/bedroom">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>رائسيه
                                      </span></a></li>

                              </ul>



                            </ul>
                          <!-- level 0 -->
  
  
                        </div><!-- level -->
  
                        <!-- Right Menu images -->
  
                      </div>
                      <!--nav-block nav-block-center-->
  
                      <div class="col-2">
                        <div class="menu_image1">
                          <a title="" href="#"><img alt="menu_image"
                              src="../../assets/catalog/view/theme/veritodemo1/image/menu-shoes.png"> </a>
                        </div>
                      </div>
  
  
                    </div> <!-- level0-wrapper2 -->
                  </div><!-- container -->
  
  
                </div>
              </li>
              <!--mega menu-->
              <li class="mega-menu" >
                <a href="#" class="level-top ">
                  <span> ترابيزة</span>
                </a>
                <div class="level0-wrapper dropdown-6col" >
                  <div class="container">
                    <div class="level0-wrapper2" >
                      <div class="nav-block nav-block-center">
                        <div class="col-1 pull-right">

                          <ul class="level0">
                            
                    
                              <ul class="level1" >
                                <li class="col-lg-3 evel2 nav-6-1-1"><a
                                  
                                  href="/Karasi">
                                  <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                  <span>كراسي  </span>

                                  </a></li>
  
                                <li class="col-lg-3 level2 nav-6-1-1"><a
                                  
                                    href="/Steele">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>ترابيزة ستيل
                                    </span>

                                    </a></li>
                                <li class=" col-lg-3 level2 nav-6-1-1"><a
                                    href="/MDF">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>MDF ترابيزة
                                      </span></a></li>
                                <li class="col-lg-3 level2 nav-6-1-1"><a
                                    href="/Screen">
                                    <img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="" srcset="">

                                    <span>ترابيزة شاشة

                                      </span></a></li>

                              </ul>



                            </ul>
                          <!-- level 0 -->
  
  
                        </div><!-- level -->
  
                        <!-- Right Menu images -->
  
                      </div>
                      <!--nav-block nav-block-center-->
  
                      <div class="col-2">
                        <div class="menu_image1">
                          <a title="" href="#"><img alt="menu_image"
                              src="../../assets/catalog/view/theme/veritodemo1/image/menu-shoes.png"> </a>
                        </div>
                      </div>
  
  
                    </div> <!-- level0-wrapper2 -->
                  </div><!-- container -->
  
  
                </div>
              </li>
              <li class="mega-menu" >
                <a href="/Safaruh" class="level-top ">
                  <span>غرفة سفرة</span>
                </a>

              </li>
              <li class="mega-menu" >
                <a href="/Antarih" class="level-top ">
                  <span>غرفة انترية</span>
                </a>

              </li>
              <!--mega menu-->
              <!-- Custom menu -->
              <li class="nav-custom-link mega-menu"><a class="level-top"><span>لاتصلات</span></a>
                <div class="level0-wrapper custom-menu">
                  <div class="container">
                    <div class="header-nav-dropdown-wrapper clearer">
                      <div class="grid12-3">
                        <h4 class="heading">48 Hours Only!</h4>
                        <p>Our designed to deliver almost everything you want to do online.</p>
                        <div><img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img1.jpg" alt="custom-image"> </div>
                      </div>
                      <div class="grid12-3">
                        <h4 class="heading">Flat 20% on Men</h4>
                        <p>Responsive design is a Web design to provide an optimal navigation.</p>
                        <div><img src="../../assets/catalog/view/theme/veritodemo1/image/custom-img2.jpg" alt="custom-image"> </div>
                      </div>
                      <div class="grid12-3">
                        <h4 class="heading">Hot Collection!</h4>
                        <p>Our font delivery service is built upon a reliable, global network of servers.</p>
                        <div><img src="./assets/catalog/view/theme/veritodemo1/image/custom-img3.jpg" alt="custom-image"> </div>
                      </div>
                      <div class="grid12-3">
                        <h4 class="heading">New Arrivals!</h4>
                        <p>Smart Product Grid is uses maximum available width of the screen.</p>
                        <div><img src="../assets/catalog/view/theme/veritodemo1/image/custom-img4.jpg" alt="custom-image"> </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div><!-- nav-inner -->
  
  
      </nav>
    </div>
</body>