<div class="main-container col2-right-layout ">
    <div class="main container">
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main about">
                    <div class="page-title">
                        <h2>سياسة الخصوصية</h2>
                    </div>
                    <div class="static-contain pull-right">

                        <P>
                             !مرحبآ بك في موقع بيت الناصر
                            <br>
                            موقع بيت الناصر هو موقع للتجارة الألكترونية لبيع الأثاث المنزلي و نستهدف تلبية أذواق العملاء المختلفة في أختيار آثاث
                            منازلهم<br>
                            : وهنا سنقوم بتعريفك علي سياسية الخصوصية الخاصة بنا
                            <br>
                            و الهدف من معرفة بياناتك الشخصية هو أمكانية مساعدتك في عملية شراء المنتجات من خلال موقعنا و بالتالي نقوم بجمع و
                            تخزين هذة البيانات لتزويدك بالخدمات المتوفرة لدين
                            <br>
                            نوفر لك خدمة أستخدام و تصفح موقعنا بشكل مجاني دون وجود رسوم ، و يمكنك التصفح علي الموقع دون تسجيل بياناتك الشخصية و
                            لكن بمجرد أتخاذك قرار الشراء يقوم الموقع بتسجيل بياناتك
                            <br>
                            الشخصية مثل ” الأسم – البريد الأليكتروني – عنوان التسليم – رقم الهاتف – تفاصيل عن طريقة الدفع – تفاصيل عن الحساب
                            المصروفي
                            <br>
                            و يقوم الموقع بجمع هذة البيانات الشخصية لأغراض مساعدة العملاء و الوصل لأفضل خدمة و كذلك لمتابعة المعاملات المالية
                            علي الأنترنت و التأكد من صحة و سلامة جميع البيانات و أنهاء جميع
                            <br>
                            العمليات المالية بنجاح بما يضمن حق العميل و الشركة معأً ، و تأكد عميلنا العزيز أن هذة البيانات الشخصية تبقي سرية و
                            لا يحق لأحد مشاركتها أو أستخدامها
                            <br>
                            و نقوم بجمع و تخزين هذة البيانات لمتابعة شرائك و لتأمين أي مطالب محتملة قد تظهر لأحقاً و لتزويدك كذلك بالخدمات
                            المتوفرة لدينا
                            <br>
                            و بجانب هذة المعلومات يقوم الموقع بجمع و تخزين المعلومات التي يتم نشرها علي الموقع بما في ذلك من صور و أراء و
                            تعليقات و تقيمات
                            <br>
                            و هناك أيضآ معلومات يقوم الموقع بتخزينها بهدف تحسين مستوي الخدمة مثل ” عمليات البحث التي تقوم بها – تاريخ زيارتك
                            للموقع – وقت زيارتك للموقع
                            <br>
                            كما أنه يجمع معلومات عن الهاتف أو جهاز الكمبيوتر الذي قمت بتصفح الموقع من خلاله مثل نوع المتصفح و عنوان شبكة
                            الأنترنت ، و عناوين الصفحات المطلوبة و الذي تبحث عنها بأستمرار
                            <br>
                            و يمكن أيضا لموقعنا أن يحفظ بيانات بريدك الأليكتروني حتي نرسل لك معلومات عن الخدمات و المنتجات و ذلك بالتأكيد في
                            حالة موفقتك علي ذلك و ضغطك علي زر أرسال الشعارات و في حالة رفضك
                            <br>
                            لا يقوم الموقع بأرسال أي دعاية أو ترويج لمنتجاتنا علي بريدك الأليكتروني
                            <br>
                            . يمكن كذلك أستخدام المعلومات الشخصية لعملائنا لأغراض أحصائية في أستطلاعات الرأي و أبحاث التسويق و ذلك بناءاً علي
                            موافقتهم مع ضمان خصوصية البيانات و سريتها و في حالة عدم موافقتهم
                            <br>
                            لا يحق لنا أستخدام هذة المعلومات ، و الهدف من عمل أستطلاعات رأي هو قياس مدي جودة الخدمة المقدمة إلي عملائنا و
                            للتطوير المستمر من محتوي الموقع و تقديم محتوي يلاقي أستحسان جميع
                            <br>
                            . زوار الموقع ، جعل تجربتك في موقع بيت الناصر أكثر خصوصية و تحديد المحتوي أو المعلومات التي نرسلها لك وفق تفضيلاتك
                            <br>
                            نقدم لك أيضآ خدمة مساعدة العملاء و نعمل من خلال فريق الدعم الخاص بنا بتسهيل زياراتك و أستخدامك للموقع ، و هنا يمكننا
                            التواصل معك حول أستخدامك للموقع و الرد علي أستفساراتك و أتمام المعاملات التي تقوم بها أنت علي الموقع .
                            <br>
                        
                        </P>
                        <P>
                            و هناك أستخدام أخر لمعلوماتك الشخصية علي موقع بيت الناصر حيث يمكننا تحديد نموذج نجمع فيه معلومات عنا و عن مبيعاتنا و
                            منتجاتنا و عدد العملاء و مستخدمين هذة الخدمة ، و لكننا لا نستخدم
                            <br>
                            .بياناتك الشخصية الخاصة في هذا النموذج و ذلك حفاظآ علي خصوصية عملائنا و توفير بيئة أمنة يمكنهم من خلالها التسوق و
                            أتمام التعاملات المالية بثقة و آمان تام
                            <br>
                            و معلوماتك الشخصية أيضآ يمكن أن تكون متاحة لباقي مستخدمي الخدمة و زوار الموقع بما في ذلك من صور و تعليقات و بيانات
                            حسابك الذي تظهرها للجميع حيث أنك بمجرد مشاركتك علي الموقع
                            <br>
                            . بصور و تعليقات فأنت بذلك توافق علي مشاركة هذة الموارد التفاعلية مع العموم
                        </P>
                        <p>
                            . و لكنك كمستخدم للموقع فأنت تمتلك بعض الخيارات لأمكانية التحكم بمعلوماتك الشخصية بما في ذلك من بيانات ملفك الشخصية
                            المعروضة للعموم ، و يمكنك تعديل أي بيانات أو معلومات علي ملفك الشخصي الذي قمت بأنشائه عند الدخول للموقع
                            <br>
                            . ووجب التنويه أيضآ أن النسخ الخاصة بالمعلومات التي قمت بتحديثها أو تعديلها أو حذفها تستمر بالبقاء لفترة من الوقت و
                            نعمل علي الحفاظ علي هذة الملفات و علي سريتها و خصوصيتها كجزء من نشاط بيت الناصر التجاري
                            <br>
                        
                        </p>
                        <p>
                         نقوم في بيت الناصر بعمل نظام حماية كامل لعملائنا لضمان خصوصيتهم و خصوصية بيانهم و لكن نود أن نعلمكم أنه لا يوجد نظام أمني علي الأنترنت مأمن بشكل مطلق بنسبة %100
                            <br>
                            لذلك من الضروري حماية بياناتك و أنشاء كلمة مرور قوية حتي يصعب أختراقها و أختيار البيانات التي تظهر علي ملفك الشخصي و
                            . أخفاء البيانات الأكثر خصوصية ، و تسجيل الخروج من حسابك عند الأنتهاء من أستخدام الموقع
                        </p>
                        <p>
                            يمكنك أن تجد هنا روابط خارجية لا يتم التحكم فيها من قبل بيت الناصر لذلك يجب أن تكون حذرآ عند مغادرتك موقعنا و الدخول
                            لمواقع خارجية ، حيث أن سياسية الخصوصية هذة تنطبق فقط علي موقعنا و عند دخولك لمواقع أخري برجاء قراءة سياسية الخصوصية
                            . الخاص بهم جيدآ
                            <br>
                        . في حالة وجود شكاوي من مستخدمي هذة الخدمة من وجود أنتهاك لملكيتهم الفكرية أو أي شكاوي متعلقة بأستخدامك للموقع أو
                        التعامل مع مستخدميه برجاء أرسال الشكوي إلي فريق الدعم الخاص بنا من خلال طرق التواصل المرفقة بالصفحة الرئيسية مع تقديم
                        معلومات كافية تثبت ما تعرضت له ، و نقوم نحن بدورنا بيت الناصر بحل المشكلة و الأستجابة إلي شكاوتك في أسرع وقت ممكن.
                        </p>
                        <p>
                            نعمل في موقع بيت الناصر علي توفير مناخ أمن و فعال يمكنك من الأطلاع علي المنتجات و المحتوي المقدم و التسوق من خلالنا
                            بأمان تام مع الحفاظ علي خصوصية بياناتك الشخصية و ضمان حقوق جميع مستخدمي هذة الخدمة و حقوق شركة بيت الناصر سواء.
                            <br>
                        
                            و نعمل جاهدين و بشكل مستمر علي تحسين هذة الخدمة و ضمان جودتها حتي تلبي أحتياجات جميع زوار الموقع وعملائنا الكرام و
                            نسعد بدخولك إلي موقعنا و قراءة هذة الصفحة المخصصة لسياسية الخصوصية حتي تعرف أكتر عن خدماتنا نتمني أن نكون قدمنا
                           . معلومات قيمة لك
                            <br>
                            و نعمل جاهدين و بشكل مستمر علي تحسين هذة الخدمة و ضمان جودتها حتي تلبي أحتياجات جميع زوار الموقع وعملائنا الكرام و
                            نسعد بدخولك إلي موقعنا و قراءة هذة الصفحة المخصصة لسياسية الخصوصية حتي تعرف أكتر عن خدماتنا نتمني أن نكون قدمنا
                           . معلومات قيمة لك
                            <br>
                            قد تطرأ معلومات أضافية علي هذة الصفحة لذلك يمكنك مراجعة سياسية الخصوصية الخاصة بنا بشكل دوري و نحن سنقوم بأعلامك عن
                           .طريق نشر سياسة الخصوصية الجديدة
                        
                        </p>



                    </div>
                </div>
            </div>
            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">  
            <div class="block-title">معلومة  </div>
             <div class="block-content">
              <ul>
                    <li><a routerLink="/Ahouse"> عن بيت الناصر</a></li>
                    <li><a routerLink="/Footer2"> الضمان </a></li>
                    <li><a routerLink="#"> الشروط الاحكام</a></li>
                    <li><a routerLink="/Recovery">سياسة ارجاع السلع</a></li>
                    <li><a routerLink="/payingoff">طرق الدفع</a></li>
                    <li><a routerLink="/questions">الاسئله الشائعه</a></li>
                    <li><a routerLink="/Privacy">الخصوصيه</a></li>
                <li><a routerLink="#">وظائف</a></li>
              </ul>
            </div>
            </div> 
        </aside>
        </div>
    </div>
</div>
