<div class="main-container col2-right-layout ">
    <div class="main container">
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main about">
                    <div class="page-title">
                        <h2>سياسة الأستراجاع و الأستبدال </h2>
                    </div>
                    <div class="static-contain pull-right">
                        <ul class="footer-about pull-right">
                            <li>
                                
                                 <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                             <P>  بيت الناصر تعطي الحق للعميل في رفض الأستلام إذا كان هناك فرق بين طلب العميل و الطلب الذي وصل إليه دون دفع أي رسوم</P>
                    
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                             <P>  يمكن للعميل إرجاع المنتج إذا تبين أنه معيب و ذلك خلال 14 يوم من تاريخ الأستلام إذا كان المنتج في حالة الأستلام الأصلية و في نفس العبوة</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                              <P> يمكنك أيضآ في حالة تغير رأيك إرجاع المنتج في غصون 14 يومآ من تاريخ الأستلام مع الحفاظ علي أن يكون المنتج في عبوة الأستلام الأصلية  
                                  ( لا ينطبق هذا علي المنتجات المصنعة عند الطلب )</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                
                              <P>  في حالة الأسترجاع يسترد العميل المبلغ المدفوع كاملآ بنفس طريقة الدفع سواء تم الدفع بواسطة بطاقة الأئتمان أو تم التحويل عن طريق ” فوادفون – أورنج – أتصالات 
                               
                                .  كاش أو أحدي طرق التحويل المعلن عنها</P>
                            </li>
                            <li>

                        </ul>
                        <P>يسترد العميل المبلغ المدفوع في مدة أقصاها 14 يومآ من تاريخ أبلاغ خدمة العملاء الخاصة بنا بعملية الأستراجاع</P>
                        <p>يحق للعميل أستبدال المنتج بمنتج أخر و ذلك قبل وصول الطلب إليه و بعد الأستلام يمكن للعميل التبديل مع تحمل فرق تكلفة
                          .  المنتج الجديد إن وجد و تكلفة الشحن 
                        
                        </p>
                        <p>يمكن للعميل إلغاء الطلب بعد تأكيده في أي وقت قبل مرور 14 يومآ ، و بعد مرور 14 يومآ لا يحق للعميل إلغاء الطلب و في
                          .  حالة تم الألغاء يتحمل العميل تكلفة المنتج 
                        
                        </p>
                        <p>بعد الأستلام يحق للعميل أرجاع الطلب إذا كان هناك أختلاف بين طلبه و المنتج الذي وصل إليه أو كان معيبآ أو حتي في حالة
                           . تغير رأيه و ذلك خلال مدة 14 يومآ و في حالة كان يريد أرجاع المنتج بعد هذة المدة الزمنية يتحمل العميل تكلفة المنتج 
                        
                        </p>
                        <p>لا تنطبق سياسة الأستراجاع علي المنتجات المصنعة عند الطلب و التي تم تنفيذها بمواصفات و مقاسات تتناسب مع أحتياجات
                          .  العميل 
                        </p>
                        <P>
                           . و لكن يمكن الأستبدال في حالة وجود عيوب صناعة في المنتج 
                        
                        </P>

                    </div>
                </div>
            </div>
            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">  
            <div class="block-title">معلومة  </div>
             <div class="block-content">
              <ul>
                    <li><a routerLink="/Ahouse"> عن بيت الناصر</a></li>
                    <li><a routerLink="/Footer2"> الضمان </a></li>
                    <li><a routerLink="#"> الشروط الاحكام</a></li>
                    <li><a routerLink="/Recovery">سياسة ارجاع السلع</a></li>
                    <li><a routerLink="/payingoff">طرق الدفع</a></li>
                    <li><a routerLink="/questions">الاسئله الشائعه</a></li>
                    <li><a routerLink="/Privacy">الخصوصيه</a></li>
                <li><a routerLink="#">وظائف</a></li>
              </ul>
            </div>
            </div> 
        </aside>
        </div>
    </div>
</div>
