<div class="main-container col2-right-layout ">
    <div class="main container">
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main about">
                    <div class="page-title">
                        <h2>عن بيت الناصر</h2>
                    </div>
                    <div class="ahouse">
                        <p><span style="color: #021b24;">بيت الناصر هي شركة صناعة أُثاث مصرية مقرها في الجيزة وكما اأنها منصة بيع قطع أثاث عبر شبكة الإنترنت، وقد أضافت تحول كبير في تحسين تجربة العملاء خلال السبع سنوات الماضية، تهدف بيت الناصر لتلبية ذوق العملاء الخاص في اختيار أثاث منازلهم.</span></p>
                    </div>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">الرؤية</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;">تهتم بيت الناصر بالتأثير في أثاث البيوت المصرية وتطويرها لجعل منازلنا أكثر راحة وكما نرغب أن تكون، وذلك من خلال صناعة قطع الأثاث بأجود الخامات وبصناعة مصرية</span></p>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">المهمة</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;">تقدم بيت الناصر منتجات بأفضل جودة بأقل أسعار ممكنة حتى يمتلك أغلب الجمهور من تكوين أطقم الأثاث التي يحلمون بها. كما تقدم أفضل خدمة ما بعد البيع من خلال ضمان ثلاث سنوات على كل منتجاتها تبدأ من تاريخ الشراء، وخدمة استرداد المنتج في حالة وصوله للعميل تالفًا أو في حالة ضرر. هذا بالإضافة إلي خدمات إستشارية فنية للعميل في اختيار القطع المناسبة لمنازلهم وبأمكانيتهم</span></p>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">خدمة عملائنا</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;">
                        كما لاحظنا بأن مجال خدمة العملاء سواء في مرحلة ما قبل البيع- البيع- ما بعد البيع تحتاج إلى لمزيد من العناية في الاسواق المصرية حتى يصل إلى العميل الخدمة التي يستحقها. ممثلين بيت الناصر يحاولون دائما الرد على جميع عملائها في أسرع وقت، وبأكثر الإجابات إفادة لكي ترشد العميل إلى ما يناسبه ويلاقي إستحسانه
                    </span></p>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">تحديد المنتج</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;">
                        يحدد العميل المنتج المناسب من خلال إخبار ممثلي خدمة العملاء برمز أو صورة المنتج من خلال الهاتف أو رسالة على أحد مواقع التواصل الإجتماعي (فيس بوك/واتساب/إنستاجرام) لكي يصله البيانات الكاملة لهذا المنتج وبألونه وقياساته ومكوناته كما يمكن أن يصله صور للمنتج على الطبيعة بعد وصوله إلى بيوت أحد عملائنا إن توافرت تلك الصور.
                           <br>
                           www.بيت االناصر.com كما يمكن للعميل البحث عن المنتج في موقعنا الرسمي 
                           <br>
                           وسيجد كل التفاصيل اللازمة عن المنتج ويمكنه أيضا حجز هذا المنتج ويرى إمكانية تقسيطه والقيام بحساب الفائدة إن وجدت، ومعرفة طرق الدفع.كما تقدم بيت الناصر خدمة الإستشارات الفنية من قبل ممثليها
                    </span></p>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">مرحلة التصنيع</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;">يصل المنتج إلى منزل العميل أو المكان المطلوب في خلال 12 – 14 يوم عمل من موعد الطلب، وفي خلال تلك المرحلة يتم تصنيع المنتج في مصنع بيت الناصر في المريوطية ويمكن للعميل زيارة المصنع في أوقات عمله المحددة حتى يتابع عملية التصنيع بنفسه ويتأكد من جودة الخامات والإنتاج.يصل المنتج إلى منزل العميل أو المكان المطلوب في خلال 12 – 14 يوم عمل من موعد الطلب، وفي خلال تلك المرحلة يتم تصنيع المنتج في مصنع بيت الناصر في المريوطية ويمكن للعميل زيارة المصنع في أوقات عمله المحددة حتى يتابع عملية التصنيع بنفسه ويتأكد من جودة الخامات والإنتاج.

                    </span></p>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">وصول المنتج وخدمة ما بعد البيع</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;">
                        عند وصول المنتج إلى العميل، نشجع دائمًا بمعاينة المنتج بشكل كامل، والتأكد من مكوناته وألوانه وقياساته وفحص خاماته عاليه الجودة قبل عملية الإستلام، وفي حالة ملاحظة أي تلف أو ضرر أو عيب في التصنيع أو في جودة المنتج تعطي بيت الناصر حق عدم الإستلام للعميل وبدون أي رسوم.كما يحق للعميل إبلاغنا خلال 14 يوم من الإستلام على أي من تلك الملاحظات حتى يتم إسترداد المبلغ المالي المدفوع بنفس طريقة الدفع خلال 5 إلى 14 يوم عمل من تاريخ الإبلاغ.
                    </span></p>
                </div>
                <div class="elementor-widget-container">
                    <div class="elementor-heading-title elementor-size-medium">البيئة</div>
                </div>
                <div class="ahouse">
                    <br>
                    <p><span style="color: #000000;"> 
                        تكوّن بيت الناصر بيئة عمل نموذجية لخدمة عملائها في المقام الأول من خلال صناعة منتجات عالية الجودة وبالمعايير العالمية، وذلك بالأهتمام ببيئة عمل نظيفة وخالية من التلوث لكي تحافظ على راحة موظفيها للوصول إلى أفضل نتيجة من الإنتاج.

                    </span></p>
                </div>
            </div>
            

            
            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">  
            <div class="block-title">معلومة  </div>
             <div class="block-content">
              <ul>
                    <li><a routerLink="/Ahouse"> عن بيت الناصر</a></li>
                    <li><a routerLink="/Footer2"> الضمان </a></li>
                    <li><a routerLink="#"> الشروط الاحكام</a></li>
                    <li><a routerLink="/Recovery">سياسة ارجاع السلع</a></li>
                    <li><a routerLink="/Payingoff">طرق الدفع</a></li>
                    <li><a routerLink="/questions">الاسئله الشائعه</a></li>
                    <li><a routerLink="/Privacy">الخصوصيه</a></li>
                <li><a routerLink="#">وظائف</a></li>
              </ul>
            </div>
            </div> 
        </aside>
        <div class="our-features-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box first"> <span class="fa fa-truck"></span>
                    <div class="content">
                      <h3>شحن لجميع للمحفاظات</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box"> <span class="fa fa-headphones"></span>
                    <div class="content">
                      <h3> دعم العملاء مدار 24 ساعه</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box"> <span class="fa fa-share"></span>
                    <div class="content">
                      <h3> سياسة الأستراجاع و الأستبدال </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box last"> <span class="fa fa-phone"></span>
                    <div class="content">
                      <h3>+201006607017  الخط الساخن</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>>
        </div>
    </div>
</div>
