
<div class="main-container col2-right-layout ">
    <div class="main container">
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main about">
                    <div class="page-title">
                        <h2>الضمان</h2>
                    </div>
                    <div class="static-contain pull-right">
                        <h3 class="footer-about">مقدمة</h3>
                        <p>بيت الناصر هي شركة آثاث مصرية مقرها بالجيزة ، و كذلك هي منصة لبيع الآثاث عبر شبكة الأنترنت .
                            و قد أضافت تحول كبير في تحسين تجربة العملاء خلال السبع سنوات الماضية.
                            كان هدف بيت الناصر الأكبر منذ البداية و حتي الآن هو تلبية أذواق العملاء المختلفة في أختيار
                            آثاث منازلهم و توفير آثاث ذو جودة عالية و شكل جذاب و عصري .</p>
                        <br>
                        <h3 class="footer-about">مواصفات المنتج</h3>
                        <p> نقدم لك في بيت الناصر منتجات متنوعة من الآثاث و تشتمل علي ( الركنات – أطقم الأنتريهات –
                            الكنب – الكراسي – الشازلونج – الباف – البانكت – السراير ) و هذة المنتجات تصنع بأيدي مصرية و
                            بمواصفات أوربية و بخامات مستوردة و يتم تصنيعها في مصنع بيت الناصر تحت إشراف و متابعة و أهتمام
                            بكافة التفاصيل حيث نعمل علي توفير بيئة نظيفة و أمنة ليصلك منتج متكامل من حيث الجودة و الشكل
                            الجذاب.</p>
                        <p>نستخدم كذلك في صناعة الآثاث أجود أنواع خشب الزان الأحمر.</p>
                        <p>نستخدم أنواع مختلفة من الخامات و الأقمشة و منها قماش الكتان و قماش القطيفة و غيرها من الأقمشة
                            ذو الجودة العالية .</p>
                        <h3 class="footer-about">ضمان بيت الناصر </h3>
                        <p>يحصل العميل عند شراء منتج من منتجاتنا علي ضمان 3 سنوات ، و هذا الضمان يشمل جميع قطع الآثاث
                            التي تنتجها الشركة .
                            و يشمل أيضآ خدمة ما بعد البيع و أي أستفسارات أو شكاوي من العميل</p>
                        <p>حيث يعمل دائمآ ممثلي خدمة العملاء بيت الناصر علي الرد علي جميع الأستفسارات من العملاء في أسرع
                            وقت . و نعمل كذلك علي حل أي مشكلة يواجها العميل
                            و ذلك تأكيدآ منا علي أن شهادة الضمان للمنتج التي يحصل عليها العميل ليست مجرد ورقة أو شهادة و
                            أننا نعمل كشركة بيت الناصر علي تقديم أفضل خدمة لعملائنا .
                        </p>
                        <h3 class="footer-about">بنود ضمان بيت الناصر </h3>
                        <ul class="footer-about pull-right">
                            <li>
                                <P>نشجع دائمآ العملاء علي معاينة المنتج المطلوب بشكل دقيق قبل الإستلام.</P>
                            </li>
                            <li>
                                <P>في حالة كان هناك أختلاف بين طلب العميل و الطلب الذي وصل إليه يحق له رفض الإستلام دون
                                    دفع أي رسوم.</P>
                            </li>
                            <li>
                                <P>في حالة حدوث أي مشكلة للمنتج بعد مرور 14 يوم يتم عمل الصيانة بشكل مجاني لمدة 3 شهور
                                    دون تحمل العميل أي تكاليف حتي أول 3 شهور من أستلام العميل للطلب</P>
                            </li>
                            <li>
                                <P>في حالة حدوث قطع في القماش أثناء توصيل قطعة الآثاث إلي العميل تتكفل الشركة بأصلاح
                                    الضرر الناتج نتيجة سوء الشحن و التوصيل و للعميل الحق في رفض أستلام الطلب .</P>
                            </li>
                            <li>
                                <P>الضمان لا يشمل أي قطع في قماش قطعة الآثاث بعد الإستلام و يجب علي العميل معاينة القماش
                                    جيدآ قبل الإٍستلام</P>
                            </li>
                            <li>
                                <P>بعد مرور 3 شهور و حتي مرور 3 سنوات يتم عمل الصيانة بشكل مجاني بالكامل دون تحمل العميل
                                    أي رسوم لعمل الصيانة . إلا في حالة كانت هناك مشكلة تتطلب نقل قطعة الآثاث إلي المصنع
                                    يتحمل العميل تكلفة تنزيل القطعة و الشحن فقط .</P>
                            </li>
                            <li>
                                <P>يشمل الضمان كل مكونات قطعة الآثاث من الأخشاب و الإسفنج و تتحمل الشركة تكلفة أصلاح
                                    القطعة بالكامل .</P>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">  
            <div class="block-title">معلومة  </div>
             <div class="block-content">
              <ul>
                    <li><a routerLink="/Ahouse"> عن بيت الناصر</a></li>
                    <li><a routerLink="/Footer2"> الضمان</a></li>
                    <li><a routerLink="#"> الشروط الاحكام</a></li>
                    <li><a routerLink="/Recovery">سياسة ارجاع السلع</a></li>
                    <li><a routerLink="/payingoff">طرق الدفع</a></li>
                    <li><a routerLink="/questions">الاسئله الشائعه</a></li>
                    <li><a routerLink="/Privacy">الخصوصيه</a></li>
                <li><a routerLink="#">وظائف</a></li>
              </ul>
            </div>
            </div> 
        </aside>
        </div>
    </div>
</div>