<div class="main-container col2-right-layout ">
    <div class="main container">
        <div class="row">
            <div id="content" class="col-sm-9">
                <div class="col-main about">
                    <div class="page-title">
                        <h2>طرق الدفع</h2>
                    </div>
                    <div class="static-contain pull-right">
                        <ul class="footer-about pull-right">
                            <li>
                                
                                 <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                             <P> . شركة بيت الناصر توفر لك أكثر من طريقة لشراء آثاث منزلك ،حيث نوفرلك طرق متعددة للدفع و أنظمة مختلفة للتقسيط </P>
                    
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                             <P>.  بيت الناصر تعطيك أمكانية للتسوق الألكتروني و ذلك من خلال موقعنا الخاص</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                              <P>. حيث تتم عملية الشراء كاملة من خلال موقعنا ، يمكن للعميل الدخول علي الموقع الخاص ببيت الناصر و الأطلاع علي المنتجات المعروضة و بعد أختياره شراء منتج ما                      </P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                
                              <P>. يقوم العميل بتحديد القطعة التي يريدها و يضفها إلي سلة الشراء ، ثم بعد ذلك تظهر للعميل عدة أسئلة عن أختيار لون القطعة التي ينوي شرائها – تفاصيل المنتج </P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>. يقوم العميل بعد ذلك بتسجيل بياناته الشخصية و هي ( الأسم – المحافظة – العنوان – رقم الهاتف ) </P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>. يظهر بعد ذلك خانة للملاحظات أذا أرد أضافة شيء جديد غير مكتوب</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>.  أخيرآ يظهر للعميل أجمالي قيمة المشتريات و يضاف له سعر الشحن</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>يختار بعد ذلك العميل طريقة الدفع حيث تتيح بيت الناصر أكثر من طريقة للدفع
                                </P>
                            </li>

                        </ul>
                                               <p><span style="color: #000000;"><strong>: متاح الدفع نقدآ بأكثر من طريقة </strong></span></p>

                        <ul>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>. الدفع نقدآ عند الأستلام</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>. ببطاقة الإئتمان</P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>الدفع بجميع المحافظ الألكترونية. ( فوادفون كاش – أورنج كاش – أتصالات كاش )
                                    <br>
                                    ( CIB أو عن طريق المحافظ الألكترونية للبنوك التالية ( بنك القاهرة – بنك مصر – بنك المشرق – بنك الأهلي المصري – بنك
                                </P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>. متاح الدفع من خلال فروع و ماكينات شركة أمان و مصاري </P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P> . أو الدفع بأستخدام كارت ميز</P>
                            </li>
                        </ul>
                        <p><span style="color: #000000;"><strong> أنظمة التقسيط</strong></span></p>
                        <p>توفر شركة بيت الناصر أمكانية التقسيط المريح لتسهل علي عملائها شراء مستلزماتهم من آثاث المنزل دون تحميلهم أعباء الدفع النقدي</p>
                        <p><span style="color: #000000;"><strong>: أنظمة التقسيط الخاصة ببيت الناصر</strong></span></p>
                        <ul>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                     <P>. بنك القاهرة </P>   
                                    </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <p>. بنك مصر</p>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <p>. بنك الشروق</p>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <p>. البنك الاهلي المصري</p>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <p>. CIB بنك </p>
                            </li>
                        </ul>
                        <p>. و هذا النظام يتيح لك التقسيط بدون فوائد في خلال 6 شهور أو سنة</p>
                        <ul>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P> 
                                    متاح التقسيط بفوائد عن طريق فاليو و يمكنك من خلال هذا النظام التقسيط إلي 5 سنوات و يتم تحديد سعر الفائدة طبقآ لسعر المنتج أو مشتريات العميل بالأضافة إلي مبلغ الشحن .
                                    <br>
                                    و أيضآ في أنظمة التقسيط هناك أتاحة أختيار تقسيط مبلغ الشحن أو دفعه نقدآ
                                    <br>
                                   . و يحصل العميل علي ضمان 3 سنوات تبدأ من يوم الأستلام للمنتج سواء كان طريقة الدفع نقدآ أو بالتقسيط 
                                </P>
                        </ul>
                        <p>
                           . بعد أختيار العميل نظام من أنظمة التقسيط يدخل علي الموقع ثم يحدد المنتج الذي يرغبه و يقوم بأدخال بياناته و بيانات بطاقة الأئتمان الخاصة بيه
                            <br>
                            . و تكون هذة البيانات سرية تمامآ لا يمكن أن يتشاركها الموقع مع أي جهة خارجية للمعرفة أكثر عن سياسة الخصوصية الخاصة ببيت الناصر يمكنك الرجوع لصفحة سياسة الخصوصية 
                            
                        </p>
                        <p>في حالة عدم نجاح العميل في أتمام عملية الشراء يمكنه التواصل من خلال الأرقام الموضحة مع ممثلي خدمة عملاء بيت الناصر لأمكانية مساعدته في أتمام عملية الدفع .
                            <br>. و يمكن للعميل أيضآ التواصل مع خدمة العملاء في حالة كان لديه أستفسارات أخري 
                            <br>. كما أن خدمة العملاء تقوم بالتواصل مع العميل بعد 48 ساعة من عملية الشراء لتأكيد الطلب 
                        </p>
                        <ul>
                        <li>
                            <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                            <P>
                                و تكون هذة البيانات سرية تمامآ لا يمكن أن يتشاركها الموقع مع أي جهة خارجية للمعرفة أكثر عن سياسة الخصوصية الخاصة ببيت الناصر يمكنك الرجوع لصفحة سياسة الخصوصية
                                <br>
                              . أيضآ أذا وجد العميل أي عيوب في المنتج الذي وصل إليه يحق له رفض الأستلام كذلك مع أسترداد المبلغ المالي المدفوع خلال 14 يوم كحد أقصي وفقآ لطريقة الدفع -
                            </P>
                        </li>
                        <li>
                            <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                            <P>
                              .  و عند تغير العميل رأيه بعد أستلام المنتج يمكنه الرجوع في عملية الشراء و أسترداد المبلغ المدفوع فقط أذا كان المنتج في حالته الأصلية عند الأستلام و في نفس العبوة 
                                <br>
                               . ( لا ينطبق هذا علي المنتجات المصنعة عند الطلب )
                            </P>
                        </li>
                        </ul>
                        <p><span style="color: #000000;"><strong>: و أيضآ من ضمن أنظمة الدفع التي يوافرها بيت الناصر للدفع و السداد </strong></span></p>
                        <ul>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>
                                    أمكانية دفع ديبوزت و الأسفادة من العروض الموجودة و تأجيل الأستلام يدفع العميل نصف المبلغ في حالة كان معاد الأستلام بعد شهر من معاد الطلب و يدفع المبلغ كامل في حالة كان معاد الأستلام بعد شهرين من معاد الطلب .
                                </P>
                            </li>
                            <li>
                                <img class="recovery" src="../../../assets/catalog/view/theme/verito2/image/nav-bgd-2013 - Copy.gif">
                                <P>
                                    كذلك في حالة طلب العميل مواصفات معينة للمنتج من حيث الخامة أو المقاس أو تغير الموديل كامل ، بيتم هنا دفع ديبوزت و هو ربع المبلغ ، و لا توجد أمكانية لأستراجعه لانه مصنع عند الطلب .
                                </P>
                            </li>
                         </ul>


                    </div>
                </div>
            </div>
            <aside id="column-right" class="col-right col-xs-12  col-sm-3">
                <div class="block block-account">  
            <div class="block-title">معلومة  </div>
             <div class="block-content">
              <ul>
                    <li><a routerLink="/ahouse"> عن بيت الناصر</a></li>
                    <li><a routerLink="/Footer2"> الضمان </a></li>
                    <li><a routerLink="#"> الشروط الاحكام</a></li>
                    <li><a routerLink="/Recovery">سياسة ارجاع السلع</a></li>
                    <li><a routerLink="/Payingoff">طرق الدفع</a></li>
                    <li><a routerLink="/questions">الاسئله الشائعه</a></li>
                    <li><a routerLink="/Privacy">الخصوصيه</a></li>
                <li><a routerLink="#">وظائف</a></li>
              </ul>
            </div>
            </div> 
        </aside>
        <div class="our-features-box">
            <div class="container">
              <div class="row">
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box first"> <span class="fa fa-truck"></span>
                    <div class="content">
                      <h3>شحن لجميع للمحفاظات</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box"> <span class="fa fa-headphones"></span>
                    <div class="content">
                      <h3> دعم العملاء مدار 24 ساعه</h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box"> <span class="fa fa-share"></span>
                    <div class="content">
                      <h3> سياسة الأستراجاع و الأستبدال </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-6">
                  <div class="feature-box last"> <span class="fa fa-phone"></span>
                    <div class="content">
                      <h3>+201006607017  الخط الساخن</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>>
        </div>
    </div>
</div>
